<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12" style="text-align: center">
        <input
          type="text"
          class="search-query form-control"
          placeholder="Search With Id Address"
          name="name"
          [(ngModel)]="name"
        />
        <div style="text-align: right; margin-right: 40px">
          <a routerLink="/login" class="btn btn-link">Logout</a>
        </div>
        <span class="input-group-btn">
          <button
            class="btn btn-danger"
            type="button"
            (click)="findStudentByName()"
          >
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
        <thead>
          <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.city }}</td>
            <td class="text-center">
              <button
                mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="right"
                (confirm)="deleteStudentById(student.id)"
                (cancel)="cancelClicked = true"
                class="btn btn-danger btn-xs"
                routerLink="/students"
              >
                <span class="glyphicon glyphicon-remove"> </span> Delete
              </button>
              <button
                class="btn btn-info btn-xs"
                (click)="updateStudent(student.id)"
                style="margin-left: 10px"
              >
                <span class="glyphicon glyphicon-search"> </span> Update
              </button>
            </td>
          </tr>
          <a routerLink="/login">Login</a>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div></div>
